# Task1- Except Q5 and Q6 Do all these from for loop.
# Task -2 Do all these questions using while loop

# ===========================================================

# All 11 Questions are in for loop.

# ===========================================================

# Q-1 Write a program to print the following using while loop   
a. First 10 Even numbers   
b. First 10 Odd numbers   
c. First 10 Natural numbers   
d. First 10 Whole numbers

# a. First 10 Even numbers

In [3]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

# b. First 10 Odd numbers

In [4]:
for i in range(1,20):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

# c. First 10 Natural numbers

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# d. First 10 Whole numbers

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Q-2 Write a program to print first 10 integers and their squares using for loop.   
1 1   
2 4   
3 9 and so on

In [7]:
for i in range(1,11):
    print(i,".",i**2)

1 . 1
2 . 4
3 . 9
4 . 16
5 . 25
6 . 36
7 . 49
8 . 64
9 . 81
10 . 100

# Q-3 Write for loop statement to print the following series:   
#### 10
#### 20
#### 30 
#### .
#### .
#### .
#### 300

In [3]:
a=10
for i in range(1,31):
    print(a,end=" ")
    a=a+10

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300

In [4]:
for i in range(10,301,10):
    print(i,end=" ")

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300

# Q-4 Write a while loop statement to print the following series   
105
98
91 
.
.
.
.
7

In [5]:
i=105
while i>6:
    print(i)
    i-=7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [18]:
a=105
for i in range(1,16):
    print(a)
    a=a-7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

# Q-5 Write a program to enter the numbers till the user wants and at the end it should display the sum of all the numbers entered.

In [9]:
s=0
n=int(input("How many no. are you enter="))
for i in range(1,n+1):
    a=int(input("Enter no. "+str(i)+"="))
    s=s+a
print("Sum of all the enter no.=",s)

How many no. are you enter=10
Enter no. 1=10
Enter no. 2=10
Enter no. 3=10
Enter no. 4=10
Enter no. 5=10
Enter no. 6=10
Enter no. 7=10
Enter no. 8=10
Enter no. 9=10
Enter no. 10=10
Sum of all the enter no.= 100

# Q-6 Write a program to enter the numbers till the user enter ZERO and at the end it should display the count and sum of positive  , negative numbers  entered.

In [1]:
s=0
c=0
x=0
y=0
w=1
print("If you don't input any no. press 0:")
n=int(input("How many no. are you enter="))
for i in range(1,n+1):
    a=int(input("Enter no."+ str(w) +"="))
    w+=1
    if a>0:
        c=c+1
        s=s+a
    elif a<0:
        x=x+1
        y=y+a
    else:
        break
print("Total Positive No.=",c)
print("Sum of all Positive No.=",s)
print("Total Negative No.=",x)
print("Sum of all Negative No.=",y)

If you don't input any no. press 0:
How many no. are you enter=4
Enter no.1=4
Enter no.2=-4
Enter no.3=8
Enter no.4=-8
Total Positive No.= 2
Sum of all Positive No.= 12
Total Negative No.= 2
Sum of all Negative No.= -12

# Q-7 Write a program to display all the numbers which are divisible by 13 but not by 3 between 100 and 500.(exclusive both numbers)

In [41]:
for i in range(100,500):
    if i%13==0:
        if i%3!=0:
            print(i)

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

# Q-8 . Write a program to accept 10 numbers from the user and display the largest & smallest number number.

In [1]:
l=0
b=0
w=1
for i in range(1,11):
    a=int(input("Enter NO."+str(w)+"="))
    w=w+1
    if b==0:
        s=a
        b=b+1
    if a>l:
        l=a
    if a<s:
        s=a
print("Small=",s)
print("Large=",l)

Enter NO.1=2
Enter NO.2=6
Enter NO.3=7
Enter NO.4=9
Enter NO.5=4
Enter NO.6=5
Enter NO.7=7
Enter NO.8=6
Enter NO.9=24
Enter NO.10=0
Small= 0
Large= 24

In [12]:
l=[]
for i in range(1,11):
    a=int(input("Enter No."+str(i)+" = "))
    l.append(a)
print("Minimum number = ",min(l))
print("Maximum number = ",max(l))

Enter No.1 = 5
Enter No.2 = 6
Enter No.3 = 44
Enter No.4 = 2
Enter No.5 = 88
Enter No.6 = 94
Enter No.7 = 56
Enter No.8 = 74
Enter No.9 = 50
Enter No.10 = 54
Minimum number =  2
Maximum number =  94

In [2]:
n=10
l=0
b=0
w=1
while n!=0:
    a=int(input("Enter NO."+str(w)+"="))
    w=w+1
    n=n-1
    if b==0:
        s=a
        b=b+1
    if a>l:
        l=a
    if a<s:
        s=a
print("Small=",s)
print("Large=",l)

Enter NO.1=4
Enter NO.2=4
Enter NO.3=5
Enter NO.4=8
Enter NO.5=6
Enter NO.6=9
Enter NO.7=7
Enter NO.8=24
Enter NO.9=1
Enter NO.10=6
Small= 1
Large= 24

# Q-9 Write a program to print the following series till n terms.   
#### 1
#### 4
#### 9
#### 16
#### 25
#### n terms.

In [12]:
n=int(input("Enter how many no. are you square="))
for i in range(1,n+1):
    print(i**2)

Enter how many no. are you square=10
1
4
9
16
25
36
49
64
81
100

# Q-10 Q10. Write a program to display the number names of the digits of a number entered by user, 
#### for example if the number is 231 
#### then output should be
#### Two
#### Three
#### One

In [15]:
n=input("Enter Any No.=")
for i in n:
    if i=='0':
        print("Zero")
    elif i=='1':
        print("One")
    elif i=='2':
        print("Two")
    elif i=='3':
        print("Three")
    elif i=='4':
        print("Four")
    elif i=='5':
        print("Five")
    elif i=='6':
        print("Six")
    elif i=='7':
        print("Seven")
    elif i=='8':
        print("Eight")
    else:
        print("Nine")

Enter Any No.=44
Four
Four

# Q-11 Write a python program to get the following output   
1—–49   
   
2—–48   
   
3—–47   
   
. .   
   
. .   
   
. .   
   
48—–2   
   
49—–1

In [2]:
b=49
for i in range(1,50):
    print(i,"----",b)
    b=b-1

1 ---- 49
2 ---- 48
3 ---- 47
4 ---- 46
5 ---- 45
6 ---- 44
7 ---- 43
8 ---- 42
9 ---- 41
10 ---- 40
11 ---- 39
12 ---- 38
13 ---- 37
14 ---- 36
15 ---- 35
16 ---- 34
17 ---- 33
18 ---- 32
19 ---- 31
20 ---- 30
21 ---- 29
22 ---- 28
23 ---- 27
24 ---- 26
25 ---- 25
26 ---- 24
27 ---- 23
28 ---- 22
29 ---- 21
30 ---- 20
31 ---- 19
32 ---- 18
33 ---- 17
34 ---- 16
35 ---- 15
36 ---- 14
37 ---- 13
38 ---- 12
39 ---- 11
40 ---- 10
41 ---- 9
42 ---- 8
43 ---- 7
44 ---- 6
45 ---- 5
46 ---- 4
47 ---- 3
48 ---- 2
49 ---- 1

# All 11 Questions are in while loop

# Q-1 Write a program to print the following using while loop   
a. First 10 Even numbers   
b. First 10 Odd numbers   
c. First 10 Natural numbers   
d. First 10 Whole numbers

# a.First 10 Even numbers

In [2]:
a=20
while a!=0:
    if a%2==0:
        print(a)
    a=a-1

20
18
16
14
12
10
8
6
4
2

# b. First 10 Odd numbers

In [3]:
a=19
while a!=0:
    if a%2!=0:
        print(a)
    a=a-1

19
17
15
13
11
9
7
5
3
1

# c. First 10 Natural numbers

In [6]:
a=1
while a<11:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

# d. First 10 Whole numbers

In [7]:
a=0
while a<10:
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9

# Q-2 Write a program to print first 10 integers and their squares using while loop.
#### 1 1
#### 2 4
#### 3 9 and so on

In [8]:
a=1
while a<=10:
    print(a,".",a**2)
    a=a+1

1 . 1
2 . 4
3 . 9
4 . 16
5 . 25
6 . 36
7 . 49
8 . 64
9 . 81
10 . 100

# Q-3 Write while loop statement to print the following series:   
#### 10
#### 20
#### 30 
#### .
#### .
#### .
#### 300

In [9]:
a=10
while a<=300:
    print(a)
    a=a+10

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

# Q-4 Write a while loop statement to print the following series
105 98 91 . . . . 7

In [10]:
a=105
while a!=0:
    print(a)
    a=a-7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

# Q-5 Write a program to enter the numbers till the user wants and at the end it should display the sum of all the numbers entered.

In [12]:
n=int(input("How many no. are you enter="))
s=0
while n!=0:
    a=int(input("Enter a no.="))
    s=s+a
    n-=1
print("Sum of all the no. enter you=",s)

How many no. are you enter=4
Enter a no.=2
Enter a no.=6
Enter a no.=2
Enter a no.=10
Sum of all the no. enter you= 20

# Q-6 Write a program to enter the numbers till the user enter ZERO and at the end it should display the count and sum of positive  , negative numbers  entered.

In [17]:
n=int(input("How many no. are you enter="))
a=0
b=0
c=0
d=0
while n!=0:
    m=int(input("Enter a no.="))
    if m>0:
        a=a+1
        b=b+m
    elif m<0:
        c=c+1
        d=d+m
    else:
        break
    n=n-1
print("Total Positive No.=",a)
print("Sum of all Positive No.=",b)
print("Total Negative No.=",c)
print("Sum of all Negative No.=",d)

How many no. are you enter=4
Enter a no.=4
Enter a no.=4
Enter a no.=4
Enter a no.=4
Total Positive No.= 4
Sum of all Positive No.= 16
Total Negative No.= 0
Sum of all Negative No.= 0

# Q-7 Write a program to display all the numbers which are divisible by 13 but not by 3 between 100 and 500.(exclusive both numbers)

In [18]:
a=100
b=500
while a!=b:
    if a%13==0:
        if a%3!=0:
            print(a)
    a=a+1

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

# Q-8 Write a program to accept 10 numbers from the user and display the largest & smallest number number.

In [26]:
print("Enter 10 No.:")
n=10
b=0
l=0
while n!=0:
    a=int(input("Enter your no.="))
    if b==0:
        s=a
        b+=1
    if a>l:
        l=a
    if a<s:
        s=a
    n=n-1
print("Smallest No. is ",s)
print("Biggest No. is ",l)

Enter 10 No.:
Enter your no.=8
Enter your no.=6
Enter your no.=9
Enter your no.=6
Enter your no.=4
Enter your no.=12
Enter your no.=44
Enter your no.=12
Enter your no.=14
Enter your no.=18
Smallest No. is  4
Biggest No. is  44

# Q-9 Write a program to print the following series till n terms.   
#### 1
#### 4
#### 9
#### 16
#### 25
#### n terms.

In [24]:
n=int(input("Enter a no.="))
a=1
while n!=0:
    print(a**2)
    a=a+1
    n=n-1

Enter a no.=10
1
4
9
16
25
36
49
64
81
100

# Q-10 Write a program to display the number names of the digits of a number entered by user, 
#### for example if the number is 231 
#### then output should be 
#### Two
#### Three
#### One

In [7]:
b=0
e=0
n=int(input("Enter any no.="))
while n!=0:
    a=n%10
    b=b*10+a
    n=n//10
# print(b)
while b!=0:
    d=b%10
#     e=e*10+d
    b=b//10
    if d==1:
        print("one")
    elif d==2:
        print("Two")
    elif d==3:
        print("Three")
    elif d==4:
        print("four")
    elif d==5:
        print("five")
    elif d==6:
        print("six")
    elif d==7:
        print("Seven")
    elif d==8:
        print("Eight")
    elif d==9:
        print("Nine")
    else:
        print("Zero")
# print(e)

Enter any no.=1244
one
Two
four
four

# Q-11 Q11. Write a python program to get the following output   
1—–49   
   
2—–48   
   
3—–47   
   
. .   
   
. .   
   
. .   
   
48—–2   
   
49—–1

In [23]:
a=1
b=49
while b!=0:
    print(a,"----",b)
    a=a+1
    b=b-1

1 ---- 49
2 ---- 48
3 ---- 47
4 ---- 46
5 ---- 45
6 ---- 44
7 ---- 43
8 ---- 42
9 ---- 41
10 ---- 40
11 ---- 39
12 ---- 38
13 ---- 37
14 ---- 36
15 ---- 35
16 ---- 34
17 ---- 33
18 ---- 32
19 ---- 31
20 ---- 30
21 ---- 29
22 ---- 28
23 ---- 27
24 ---- 26
25 ---- 25
26 ---- 24
27 ---- 23
28 ---- 22
29 ---- 21
30 ---- 20
31 ---- 19
32 ---- 18
33 ---- 17
34 ---- 16
35 ---- 15
36 ---- 14
37 ---- 13
38 ---- 12
39 ---- 11
40 ---- 10
41 ---- 9
42 ---- 8
43 ---- 7
44 ---- 6
45 ---- 5
46 ---- 4
47 ---- 3
48 ---- 2
49 ---- 1